<section class="blog-list px-3 py-5 p-md-5">
  <div class="container">
    $for(posts)$
    <div class="item mb-5">
      <div class="media">
	<img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="assets/images/blog/blog-post-thumb-7.jpg" alt="image">
	<div class="media-body">
	  <h3 class="title mb-1"><a href="$url$">$title$</a></h3>
	  <div class="meta mb-1"><span class="date">$date$</span><span class="time">5 min read</span></div>
	  <div class="intro">$desc$</div>
	  <a class="more-link" href="$url$">Read more &rarr;</a>
	</div><!--//media-body-->
      </div><!--//media-->
    </div> <!--item -->
    $endfor$
  </div>
</section>
